* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.display {
    border: 2px solid #000;
    width: 500px;
    height: 300px;
    align-self: center;
}

.teclado {
    align-self: center;
    background-color: #222;
    width: 500px;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.teclado ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
}
.num {
    width: 200px;
    flex-wrap: wrap;
    align-self: center;
}
.num button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.option button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.start { 
    display:inline-block;
    margin-top: 20px;
    padding: 5px 15px;
}